name: e2e-kind

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  e2e:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      IMG: ghcr.io/${{ github.repository_owner }}/my-csi-driver:${{ github.sha }}
      REGISTRY: ghcr.io/${{ github.repository_owner }}
      KIND_CLUSTER_NAME: csi-e2e
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Install kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: v1.30.0

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.15.2

      - name: Install kind
        uses: helm/kind-action@v1
        with:
          install_only: true

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: |
          make build IMG=$IMG

      - name: Push image to GHCR (push events only)
        # if we merge a PR to main we will trigger a 'push' event and the image will be pushed to GHCR
        if: github.event_name == 'push'
        run: |
          make push IMG=$IMG

      - name: Run e2e tests
        run: |
          make e2e-tests IMG=$IMG REGISTRY=$REGISTRY KIND_CLUSTER_NAME=$KIND_CLUSTER_NAME

      - name: Setup tmate session
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3
